<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Twitter", '#', class: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' ,class: "logo" %></li>
            <li><%= link_to "Help",help_path, class: "logo"  %></li>
            <li ><%= link_to "Log in",login_path,class: "logo" %></li>
          </ul>
      </div>
    </header>

    
  <div class="StaticLoggedOutHomePage-signupBlock" >
        <h1 >See what’s happening in the world right now</h1>
        <h2 >Join Twitter today.</h2>
        <div style="text-align: center;color: white">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div> 
  </div>
  </body>
</html>